*.[oa]
*~
#*
Makefile.in
Makefile
*.lo
.deps
.libs
*.la
enna-media-server
missing
stamp-h1
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
config.cache
config.cache-env
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
ems_rpc_*.[ch]
massif.out.*
enna-media-server*.tar.gz
enna-media-server*.tar.bz2
/src/bin/enna/enna
/src/tests/test_avahi_service
/src/tests/test_grabber
/ems.pc
/data/themes/default/default.edj
/config.h.in
